@use 'mixins';

.clients-say {
  padding-bottom: 30px;

  @media screen and (min-width:1024px) {
    padding-bottom: 130px;
  }

  @media screen and (min-width:1440px) {
    padding-bottom: 230px;
  }

  &__title {
    @extend %section-header;
  }

  &__para {
    @extend %grey-para;
    text-align: center;
    max-width: 500px;
    padding: 10px 0 20px;

    @media screen and (min-width:1440px) {
      padding: 21px 0 36px;
    }
  }

  &__scroll-container {
    overflow: scroll;
    white-space: nowrap;
    width: 100%;
    max-width: 1920px;
    gap: 28px;
    &::-webkit-scrollbar {
        display: none;
    }
  }

  &__card {
    display: inline-block;
    width: 40vw;
    min-width: 250px;
    max-width: 569px;
    margin: 10px 14px 20px;
    border: 1px solid #EFEFEF;
    padding: 20px;
    @media screen and (min-width:768px) {
      padding: 41px 49px 33px 27px;
    }
    &:hover{
        border: none;
        transform: scale(1.02);
        transition: 300ms ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        cursor: pointer;
    }
    &__para {
      max-width: 80%;
      white-space: wrap;
    }
    &__para{
      @extend %grey-para;
    }
    &__img{
      padding: 21px 0 10px;
    }
    &__job{
      @extend %grey-para;
      font-size: 12px;
    }
  }
}