%grey-para {
  color: #828282;
  font-size: 16px;
  font-weight: 300;

  @media screen and (min-width:1600px) {
    font-size: 17px;
  }
}

%on-hover {
  &:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(1.02);
  }
}

%section-header {
  font-size: 30px;
  color: #212528;
  text-align: center;
  text-transform: capitalize;
  line-height: 115%;
  strong {
    font-weight: inherit;
    color: #6F77F1;
  }

  @media screen and (min-width:768px) {
    text-align: left;
    font-size: 40px;
  }

  @media screen and (min-width:1440px) {
    font-size: 55px;
  }
}

%yellow-btn {
  @extend %on-hover;
  text-decoration: none;

  button {
    padding: 11.5px 23px;
    color: #212528;
    background-color: #FAD725;
    border: none;
    border-radius: 4px;

    &:hover {
      opacity: 0.8;
    }
  }
}

%big-yellow-btn {
  @extend %yellow-btn;
  min-width: 150px;

  button {
    font-size: 16px;

    @media screen and (min-width:1440px) {
      font-size: 24px;
      padding: 19px 43px;
    }
  }

}

%small-yelllow-btn {
  @extend %yellow-btn;

  button {
    font-size: 14px;
  }
}
