@use 'mixins';

.solution {
    padding: 20px;
    gap: 47.5px;
    background-color: #FAFAFA;
    background-image: url('../images/design/solution.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media screen and (min-width:1024px) {
        padding: 30PX 40px;
    }
    @media screen and (min-width:1440px) {
        padding: 60px;
    }

    @media screen and (min-width:1600px) {
        padding: 98px;
    }
    &__text {
        max-width: 600px;
    }
    
    &__title {
        @extend %section-header;
    }
    
    &__para {
        @extend %grey-para;
        padding: 20px 0 34px;
    }
    
    &__btn {
        @extend %big-yellow-btn;
    }
}

